legacy-peer-deps=false
engine-strict=true
resolution-mode=highest
auto-install-peers=true
fund=false
audit=true
save-exact=false
save-prefix=^
prefer-dedupe=true

# Diğer ayarlar
# Eski paketler için uyarıları gösterme
loglevel=warn
ignore-scripts=false
no-optional=false
